* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

#main-title {
    width: 40%;
    margin-top: 1.5%;
    margin-left: 2%;
    z-index: 1;
    text-transform: uppercase;
    color: rgb(248, 225, 46);
    text-shadow: -1px 0px rgb(95, 161, 153);
    -webkit-text-stroke: 1.5px rgb(199, 72, 50);
}

#main-title:hover {
    color: #d6ad61;
    cursor: pointer;
}

#logomdlh {
    width: 10%;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    justify-content: center;
    top: -17px;
    left: 45%;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    flex-wrap: wrap;
    height: 10vh;
    background-color: #132620;
    z-index: 1;

}

nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    position: fixed; 
    padding-top: 2rem; 
}

nav a {
    color: rgb(248, 225, 46);
    font-size: 16px;
    padding: 0px 16px;
    text-decoration: none;
}

nav a:hover {
    color: #d6ad61;
}

nav a[href="#"] {
    text-decoration: none;
    color: #f4ebd0;
}

body {
    background-image: linear-gradient(rgba(105, 17, 17, 0.566), rgba(9, 58, 16, 0.678)), url(/imgs/design1_image2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

footer {
    background-color: rgba(105, 17, 17, 0.566);
    color: rgb(26, 33, 28);
    text-align: center;
    width: 100%;
    align-items: flex-end;
    flex-wrap: wrap;
}

figure {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

#image1,
#firstpic,
#secondpic,
#thirdpic {
    width: 90%;
    border-radius: 4mm;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
    cursor: pointer;
    opacity: 0.7;
    margin: 20px;
}

#image1:hover,
#firstpic:hover,
#secondpic:hover,
#thirdpic:hover,
#mighty-disney:hover {
    opacity: 1;
    visibility: visible;
}

.container-news,
.contact,
.info-game,
.about {
    width: 100%;
    height: 90%;
    padding-top: 20vh;
    color: #f4ebd0;
    text-shadow: 1.5px 2.5px rgba(105, 17, 17, 0.596);
    border-radius: 2mm;
    font-size: 22px;
}

.info-game{
    display: flex;
    flex-wrap: wrap;
}

.titles-rules {
    width: 81%;
    height: 2px;
    font-size: 32px;
    padding-top: 18vh;
    padding-left: 6vw;
    color: #f4ebd0;
    text-shadow: 1.5px 2.5px rgba(105, 17, 17, 0.596);
}

.boxrules {
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 7%;
    line-height: 2;
    max-width: 90%;
    margin: 0 auto;
    color: #f4ebd0;
    text-shadow: 1.5px 2.5px rgba(105, 17, 17, 0.596);
    font-size: 22px;
}

.box {
    display: flex;
    flex-wrap: wrap;
}

.box label {
    background: rgba(19, 37, 31, 0.725);
    border-radius: 4mm;
    font-weight: bold;
    text-align: center;
    box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.5);
    order: 1;
    display: block;
    padding: 1% 6%;
    cursor: pointer;
}

.box .content {
    display: none;
    padding: 3%;
    background: rgba(19, 37, 31, 0.725);
    border-radius: 6mm;
    box-shadow: 4px 2px 10px 2px rgba(0, 0, 0, 0.5);
    order: 99;
    flex-grow: 1;
    width: 100%;
}

.content h2 {
    color: #d6ad61;
}

.box input[type="radio"] {
    display: none;
}

.box input[type="radio"]:checked+label {
    background: rgba(155, 109, 24, 0.815);
}

.box input[type="radio"]:checked+label+.content {
    display: block;
}

.alphabetical li {
    list-style-type: lower-alpha;
    margin-left: 2rem;
}

.content ul li {
    margin-left: 3rem;
}

.contact {
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

figure #thirdpic {
    display: flex;
    width: 86%;
    margin-left: 10%;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
}

.fall-schedule {
    padding-top: 10rem;
    padding-left: 15rem;
    position: absolute;
    color: #f4ebd0;
    text-shadow: 1.5px 2.5px rgba(105, 17, 17, 0.596);
    font-size: 32px;
    text-decoration: underline;

}

.info-game {
    display: flex;
    justify-content: center;
    align-items: center;
}

caption {
    margin-bottom: 1rem;
}

td {
    padding: 1rem;
}

thead {
    background: rgba(19, 37, 31, 0.725);
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.5);
}

thead tr th {
    color: rgba(155, 109, 24, 0.815);
    text-shadow: 0.5px 0.5px rgb(95, 161, 153);
}

tbody {
    background-color: rgba(155, 109, 24, 0.815);
}

tbody tr:hover {
    background-color: #f4ebd0;
    color: black;
    text-shadow: none;
}

.text-info {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}

.second-text-info {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.second-text-info a {
    color: #f4ebd0;
}


.div-news {
    display: flex;
}

.events-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 4rem;
    padding-left: 14rem;
}

.events-title h2 {
    color: #d6ad61;
}

.events-title2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 4rem;
    margin-left: 10rem;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#first,
#second,
#third {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 3rem;
    background-color: rgba(19, 37, 31, 0.699);
    border-radius: 2mm;
}

#first h3 {
    color: #d6ad61;
}

#second h3 {
    color: #d6ad61;
}

#third h3 {
    color: rgb(214, 173, 97);
}

.events-title2 p a {
    color: white;
}

#firstpic {
    margin-left: 12rem;
}

.contact-title {
    text-align: center;
    padding-left: 1%;
    padding-bottom: 1%;
    color: rgb(214, 173, 97);
}

.contact-text {  
    text-align: center;
}

.contact-text p a {
    color: #f4ebd0;
}

#mighty-disney {
    position: absolute;
    right: 3%;
    top: 33.5%;
    width: 45%;
    border-radius: 4mm;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);
    opacity: 0.7;
    cursor: pointer;
}

.form-main {
    width: 100%;
    min-height: 80vh;
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    color: #f4ebd0;
    text-shadow: 1px 1.5px rgba(105, 17, 17, 0.596);
    font-size: 1.4rem;
    line-height: 2rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 38%;
}

.form-schools {
    width: 100%;
    height: 11%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-position {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 5rem;
    flex-wrap: wrap;
}

.form-size {
    width: 100%;
    height: 12%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-grade {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.register {
    margin-top: 1rem;
    color: #f4ebd0;
    width: 100%;
    height: 2.5rem;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid #f4ebd0;
    border-radius: 2mm;
    background: linear-gradient(45deg, rgba(105, 17, 17, 0.566), rgba(9, 58, 16, 0.678));
}

.register:hover {
    color: #d6ad61;
    cursor: pointer;
    font-weight: 600;
    border: 2px solid #d6ad61;
    background: linear-gradient(45deg, rgba(105, 17, 17, 0.904), rgba(9, 58, 16, 0.884));
}

fieldset {
    background-color: rgba(19, 37, 31, 0.781);
    border-radius: 2mm;
    border: 3px solid rgba(19, 37, 31, 0.322);
}

#address {
    width: 75%;
}

.which {
    margin-right: 10rem;
}

#title-form {
    color: #d6ad61;
    font-size: 2rem;
}

.gmaps {
    width: 100%;
    height: 140px;
    border-radius: 2mm;
}

/* media query hecho para un rango de 768px a 1024px */
@media (max-width:1024px){
    header{
        flex-direction: column;
        width: 100vw;
        height: 14vh;
    }

    #main-title{
        width: 100%;
        font-size: 18px;
        text-align: center;
    }
    #logomdlh{
        width: 0;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    nav a{
        font-size: 14px;
        margin-top: 11px;
        padding: 0px 24px;
    }

    #playerone{
        display: flex;
        flex-wrap: wrap;
        margin-right: 32%;
    }

    .div-news{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .events-title{
        margin-right: 20%;
    }

    .events-title2{
        margin-right: 16%;
    }

    #secondpic{
        margin-left: 38%;
    }

    form{
        margin-top:6% ;
        width: 70%;
    }

    .schedule caption{
        margin-left: 440px;
    }
    
    .box{
        margin: 13% 0%;
    }

    .contact-text{
        justify-content: center;
        margin-right: 20px;
    }
    
    .first-text-info, .second-text-info{
        padding: 4%;
    }

    #mighty-disney{
        margin-top: 8px;
    }

    #first, #second, #third{
        padding: 0 14px;
    }

    .schedule{
        padding: 0 32px;
    }

    .box label{
        padding: 0;
        width: 30%;
    }
}
